/*
 * Copyright (c) 2024 Charlie Gilliland
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&dma2 {
    status = "okay";
};
/*
&pinctrl {
    status = "okay";
};
*/
&gpioe {
    status = "okay";
};

dmic_dev: &dfsdm0 {
    status = "okay";

    pinctrl-0 = <&dfsdm1_datin3_pe4 &dfsdm1_ckout_pe9>;
    pinctrl-names = "default";
    clocks = <&rcc STM32_CLOCK_BUS_APB2 STM32_CLOCK(0, 1, 31, 0x8C)>,   // DFSDM kernel clock: Default PCLK2 (0), or SYSCLK (1)
             <&rcc NO_SEL STM32_CLOCK(0, 1, 15, 0x8C)>;                 // DFSDM audio clock: Default PLLI2S1 (0), or PLLI2S2 (1)
    clock-names = "dfsdm", "audio";

    filter0: filter@0 {
        compatible = "st,dfsdm-filt";
        st,adc-channels = <3>;
        st,sample-edge = "rising";
        st,adc-channel-clk-src = "CLKOUT";
        st,filter-order = <3>;
        status = "okay";
    };

    filter1: filter@1 {
        compatible = "st,dfsdm-filt";
        st,adc-channels = <2>;
        st,sample-edge = "falling";
        st,adc-channel-clk-src = "CLKOUT";
        st,filter-order = <3>;
        st,adc-alt-channel = <1>; // following channel's pin
        status = "okay";
    };
};
